[phases.setup]
providers = ['node', 'python']
nixPkgs = ['...', "git", "gnumake"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "npm install",
    "npm run build"
]

[phases.build]
cmds = [
    "make SYNC_SDK=true mindocs"
]

[start]
cmd = "python -m http.server --directory build/$(ls build | head -n1)/$(ls build/$(ls build | head -n1) | head -n1)/html 8000"

[variables]
NIXPACKS_PYTHON_VERSION = '3.10'

